@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(18, 18, 18);
    color: white;
    font-family: sans-serif;
}

form {
    color: black;
}

label {
    color: white;
}

select {
    color: black;
    padding: 0.25rem;
}

input {
    color: black;
    padding: 0.25rem;
    border-radius: 0.25rem;
}

textarea {
    color: black;
    padding: 0.25rem;
}

button {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

button:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(37 99 235 / var(--tw-bg-opacity))
}
