@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(18, 18, 18);
    font-family: sans-serif;
}

:root {
    color-scheme: dark;
}

input, textarea {
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
}

li,
li > a,
button {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

button:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(37 99 235 / var(--tw-bg-opacity));
}
